.btnClass {
  margin-right: 10px;
  border: none;
  background-color: red;
  width: "76px";
  border-radius: 4px;
}

.btnClass.clicked {
  background-color: green;
}
.grade-btn-wrapper {
  margin-right: 10px;
}
.add_icon::before {
  content: "<";
}
.add_icon::after {
  content: ">";
}
.btngroup {
  background: currentColor !important;
}

button.btn.login {
  color: #fff;
  background: darkgray;
}
